
.main{
    width: 70%;
    gap: 40px;
    display: flex;
    flex-direction: row;
}
.text-img-1{
    border: solid red 1px;
    border-radius: 12px;
    border: none;
    width: 350px;
    height: 250px;
    background-color: rgba(0, 43, 83, 0.877);
    margin-bottom: 20px;
    margin-top: 20px;
}
.text-img-1 img{
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 350px;
    height: 210px;
}
.text-img-1 p{
    margin-top: 5px;
    margin-right: 20px;
    color: #d1d1d1;
    text-align: end;
}
.text-img-2{
    border: solid red 1px;
    border-radius: 12px;
    border: none;
    width: 350px;
    height: 270px;
    background-color: rgba(0, 43, 83, 0.877);
}
.text-img-2 img{
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 350px;
    height: 210px;
}
.text-img-2 p{
    margin-top: 5px;
    margin-right: 20px;
    color: #d1d1d1;
    text-align: end;
}
.text-top{
    margin-bottom: 50px;
}
.hide{
    display: none;
}












@media (max-width: 800px){
    .hide-1{
        display: none;
    }
    .hide{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        gap: 20px;
    }
}





@media (max-width: 600px){
    .hide-1{
        display: none;
    }
    .hide{
        display: flex;
        flex-direction: column;

    }
}
